.grid {
  display: grid;
  width: 700px;
  height: 700px;
  grid-template-areas:
    "header header header"
    "sidebar sidebar main"
    "footer footer footer";
  grid-template-columns: 150px 150px 1fr;
  grid-template-rows: 60px 1fr 60px;
  background-color: rgb(136, 137, 137);
  gap: 10px;
  padding: 10px;
}

header,
aside,
footer,
main {
  background-color: lightblue;
  border: 2px dashed black;
  padding: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  grid-area: header;
}
aside {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
